// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://weloveiconfonts.com/api/?family=entypo);

$neongreen: hsla(158, 100%, 50%, 1);
$cloud: hsl(160,16,51);
$oswald:'Oswald', sans-serif;

/* entypo */
[class*="entypo-"]:before {
 font-family: 'entypo', sans-serif;
}
// Custom Styles
body {
//  background-color: green;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
background-color: black;
}

.body-container{
//height: 1000px;  background-image:url("../images/28H.jpg");
 background-size: cover;

}

button{
  background-color: HSLA(132, 100%, 27%, 1);

  &:hover{
    background-color: HSLA(132, 100%, 36%, 1)
  }
}

 h1 {
   font-size: 100px;
   line-height: 1;
   text-align: center;
   letter-spacing: -1px;
 }
 a{
  // text-align: center;
   text-decoration: none;
   color: hsl(201,8,52);

 }

#cat{
  margin-top: 4.5%;
  margin-left: 66%;
}

#loginField{
 float: right;
 width: 50%;
 padding-left: 10px;
}
#addPost, #updatePost{
 background-color: white;
 opacity: .9;
 border: 1px solid gray;
 width: 600px;
 height: 600px;
 margin-left: 150px;
 position: relative;
 display: block;
 h2{
   font-family: $oswald;
   margin-left: 10px;
   margin-top: 10px;
 }
 #postTitle, #updateTitle{
   font-family: $oswald;
 }
 #postTitle, #postContent,#postCategory, #postImage{
   background-color: #eee;
   position: absolute;
   margin-top: 20px;
   margin-left: 10px;
   width: 580px;
 }
 #updateTitle, #updateContent, #updateCategory, #UpdatepostImage{
     background-color: #eee;
     position: absolute;
     margin-top: 20px;
     margin-left: 10px;
     width: 580px;

 }
 #addDraft{
   margin-top: 400px;
 }
 #savedraft{
   position: absolute;
   margin-left: 220px;
   margin-top: -47px;
 }

 #postContent, #updateContent{
   position: absolute;
   height: 350px;
   margin-top: 120px;
 }
 #postCategory, #updateCategory{
   margin-top: 78px;
   margin-left: 350px;
   font-family: $oswald;
   width: 240px;
 }
 #postImage, #UpdatepostImage{
   margin-left: 10px;
   width: 300px;
   background-color: #eee;
   margin-top: 70px;
 }
#publishPost, #addDraft, #updateDraft{
 position: absolute;
 margin-left: 20px;
 margin-top: 490px;
 font-family: $oswald;
 background-color: $cloud;
}
#publishPost:hover{
 background-color: black;
 box-shadow: 8px 8px 14px 0px rgba(50, 50, 50, 1);
}
#addDraft{
margin-left: 170px;
background-color: hsla(160, 67%, 51%, 1);
color: black;
}
#addDraft:hover{

 box-shadow: 8px 8px 14px 0px rgba(50, 50, 50, 1);
}

}
#publishDraft{
  position: absolute;
  margin-left: 120px;
  margin-top: 490px;
  font-family: $oswald;
  background-color: $neongreen;
  color: black;
  &:hover{
    box-shadow: 8px 8px 14px 0px rgba(50, 50, 50, 1);
  }
}
#delete{
  margin-top: 490px;
  background-color: hsl(7,100,40);
  margin-left: 20px;
  font-family: $oswald;
  &:hover{
    box-shadow: 8px 8px 14px 0px rgba(50, 50, 50, 1);
  }
}
#updateDraft{
  &:hover{
    box-shadow: 8px 8px 14px 0px rgba(50, 50, 50, 1);
    background-color: black;
  }
}
#login, #signUp{
  margin-left: -18%;
  margin-top: -8%;
  background-color: transparent;
  display: inline-block;
  padding: 5px;
  width: 200px;
  height: 170px;
  padding: 5px;
  font-family: "Oswald",sans-serif;

 #signUpUser, #user{
   margin-top: 10px;
 }
 #signUpPassword, #password, #username{
   margin-top: 10px;
   font-family: $oswald;
   background-color: #eee;
 }
 button{
   background-color: $cloud;
    margin-top: 3px;
    font-size: 16px;
    &:hover{
      background-color:black;
    }
 }
 a{
   text-decoration: underline;
   position: absolute;
   padding-top:10px;
   font-size: 16px;
margin-left:100px;
 }

}
#signUp{
  position: absolute;
opacity: 1;
 margin-top: 170px;
 margin-left: 200px;
 input{
   background-color: #eee;
 }
 button{
  margin-top:-20px;
 }
}
#signUpField{


  padding-right: 10px;
}

#blogList{
position: absolute;
margin-top: 300px;
}
.addPosts li{
 height: 200px;
 list-style-type: none;
 margin-left: 100px;
 width: 800px;
 margin-top: 15px;
 list-style-type:none;
 //border: 1px solid gray;
background-color: black;
 opacity: .6;
 padding: 10px;
//  transition: opacity 0.2s ease;
 &:hover{
  opacity: .7;
  box-shadow: 8px 8px 14px 0px rgba(50, 50, 50, 1);
 }
 a{
   text-decoration: none;
   color: white;
 }

}
#lognav{
  font-size: 20px;
  padding: 10px;
  background-color: black;
  color: white;
 &:hover{
   color: $cloud;
   background-color: white;
 }
}
#log-out-btn{
  margin-top:-5px;
  color: black;
  opacity: .8;
  font-family: $oswald;
  font-size: 20px;
  padding: 10px;
  background-color: #eee;
}
#log-out-btn:hover{
  background-color: $cloud;
  color: white;
}
.nav-bar{
 position: absolute;
 padding-top: 20px;
 //width: 100%;
 padding-right: 5px;
 margin-left: 400px;
 button{

  margin-left: 5px;
 }
 a{
   padding: 15px;
   padding-bottom: 5px;
   color: black;
   font-family: $oswald;
   font-size: 21px;
   //transition: color 0.2s ease;
 }
 a:hover{
   color: hsl(7,100,40);

 }

/*  #loggedIn{
  //float: right;
  font-family: 'Anton';
  margin-top: 2px;
  font-size: 1.5em;
} */

}
.addBtn{
  padding: 3px;

}

.fullPost li{
  list-style-type: none;
}
.single-post-setup{
 margin-left: 100px;
 margin-top: -25px;
 width: 800px;
 opacity: .8;
 margin-bottom: 30px;
padding-bottom: 10px;
 background-color: white;

 &:hover{
   opacity: .9;
 }
 .singleTitle{
   text-align: left;
   font-size: 60px;
   padding-left: 10px;
   font-family: $oswald;
   width: 600px;

 }
 .singleCategory{
   width: 300px;
   padding-left: 10px;
   font-family: $oswald;
   margin-top: 5px;
 }
 .singleContent{
   padding-left: 20px;
   width: 800px;
   margin-top: 10px;
   text-align: left;
   background-color: white;

   //height: 400px;
 }
 #single-blog-image{
   height: 500px;
   width: 780px;
   margin-left: 10px;
   //position: absolute;
   margin-top: 10px;
   //position: absolute;
   background-color:  hsl(201,8,52);
   img{
     height: 500px;
     width: 790px;
   }
 }
 .singleAuthor{
  // position: absolute;
   font-family: $oswald;
   margin-top: 10px;
   padding-left: 10px;
   a{
     color: black;
   }
 }
}



.post-setup{
 position: relative;
 height: 120px;

 .title{
   position: absolute;
   margin-left: 210px;
   margin-top: 10px;

   font-size: 40px;
   font-family: $oswald;
 }

 .author a{
   position: absolute;
   margin-left: 210px;
   margin-top: 100px;
   font-size: 20px;
   color: white;
   font-family: $oswald;
 }
 .category{
   position: absolute;
   margin-left: 210px;
   color: gray;
   font-size: 20px;
   font-family: $oswald;
   width: 300px;
   margin-top: 130px;
 }
 .draft-comment{
   position: absolute;
   margin-left: 720px;
   margin-top: 134px;
   font-family: $oswald;
   font-size: 20px;
   color: white;
   width: 70px;
   text-align: center;
   background-color:red;
 }


}
#commentText{

 margin-left: 120px;
 width: 760px;

}

#adder{
margin-left: -125px;
margin-top: 50px;
 background-color: $cloud;
 font-family: $oswald;
 &:hover{
   background-color: black;
   box-shadow: 8px 8px 14px 0px rgba(50, 50, 50, 1);
   }

}

#comment-form{
  height: 150px;
}


#blog-image{
 height: 200px;
 width: 200px;
 margin-top: -22px;
 margin-left: -10px;
 position: absolute;
 background-color:  hsl(201,8,52);
 img{
 height: 200px;
 width: 200px;
 }

}

#blog-image-global{
 height: 200px;
 width: 200px;
 margin-top: -11px;
 margin-left: -10px;
 position: absolute;
 background-color:  hsl(201,8,52);
 img{
 height: 200px;
 width: 200px;
 }

}



.topbanner{

 height: 1800px;
 //opacity: .3;
 background-image: url("../images/vang.jpg");
 background-size: cover;
 position: relative;
 background-attachment:fixed;
 h1 a{
 position:absolute;
 color: hsl(7,100,40);
 margin-left: -40%;
 font-size: 90px;
 font-family: $oswald;
 margin-top: 150px;
 text-align: center;
 z-index: 10;
}
}
.header{

 background-color: green;
 position: absolute;
 opacity: .2;
 height: 1800px;
//  margin-top: 100px;
 width: 100%;

}

#commentBox{
 position: absolute;
 margin-top: 200px;
 width: 300px;

 margin-left: 200px;
}
#commentbutton{
 position: absolute;
 margin-top: 290px;
 margin-left: 200px;
}

.comment-section{
 width: 670px;
 position: absolute;
//  margin-top: 100px;
 color: white;
 h2{
   margin-top: 20px;
   margin-left: 620px;
   font-size: 60px;
   font-family: $oswald;
 }
.comments {
 margin-top: 30px;
  li{
  margin-left: 320px;
  background-color: $cloud;
  font-weight: bold;
  box-shadow: 8px 8px 14px 0px rgba(50, 50, 50, 1);
  opacity: .8;
  //border: 2px solid white;
  color: white;
  width: 570px;
  margin-top: 15px;
  padding: 10px;
}
  li:hover{
  opacity: .9;

  }
}
}
.entypo-flight, .entypo-plus, .entypo-flag, .entypo-pencil{
 padding-right: 7px;
}
.created{
  margin-top: 10px;
  margin-bottom: -10px;
  margin-left: 370px;
  font-family: $oswald;
  color: #eee;

}


//Category Select Sort Feature
$dropdown-color: $base-font-color;
$dropdown-description-color: lighten($dropdown-color, 40);
$dropdown-border: 1px solid silver;
$dropdown-background: $base-background-color;
$dropdown-background-hover: darken($dropdown-background, 3);
$dropdown-inner-border: 1px solid silver;
$dropdown-height: 40px;
$dropdown-padding: 1em;
$dropdown-distance-from-menu: 50px;
$dropdown-arrow-top-distance: 0;

.dropdown {
  text-align: center;
  float: right;
  display: inline-block;
  margin: 0px;
}

.dropdown-container {
  display: inline-block;
  position: relative;

}

.dropdown-button {
  background: HSLA(132, 100%, 27%, 1);
  border-color: HSLA(132, 100%, 27%, 1);
  border-bottom-right-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
  border-top-left-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
  border-top: $dropdown-border;
  border-right: $dropdown-border;
  border-bottom: $dropdown-border;
  cursor: pointer;
  color: white;
  float: right;
  font-size: .7em;
  font-weight: 800;
  line-height: $dropdown-height;
  margin-bottom: 0;
  padding: 0 ($dropdown-padding * 3.5) 0 ($dropdown-padding / 2);
  position: relative;

  @include media($large-screen) {
    font-size: 1em;
    padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
  }
}

.dropdown-button:hover{
  background-color: HSLA(132, 100%, 36%, 1);
}

.dropdown-button:after {
  color: white;
  content: "\25BE";
  display: block;
  position: absolute;
  right: $dropdown-padding;
  top: $dropdown-arrow-top-distance;
}

.menu {
  @include transition (all 0.2s ease-in-out);
  background: $dropdown-background;
  border-radius: $base-border-radius;
  border: $dropdown-border;
  box-shadow: 0 2px 2px transparentize(black, .8);
  color: $dropdown-color;
  cursor: pointer;
  display: none;
  overflow: show;
  position: absolute;
  right: 0;
  top: $dropdown-distance-from-menu;
  width: 140px;
  z-index: 99999;

  &:before {
    @include position(absolute, 0 1em 0 0);
    color: $dropdown-background;
    content: "\25b2";
    font-size: 1.4em;
    pointer-events: none;
    text-shadow: 0 -2px 2px transparentize(black, .7);
    top: -1em;
  }
}

.menu li {
  border-bottom: $dropdown-inner-border;
  color: green;
  padding: $dropdown-padding / 2;
}

.menu li:hover {
  background: $dropdown-background-hover;
}

.menu li:first-child {
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
}

.menu li:last-child {
  border: none;
  border-bottom-left-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
}

.show-menu {
  display: block;
}

//End Drop Down Menu

// Start Modal Window

.modal {
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    $img-width: 300px;
    border-radius: $img-width/2;
    display: block;
    max-width: $img-width;
  }

  input[type="checkbox"] {
    display: none;
  }

  .btn {
    @extend button;
  }

  .modal-open {
    overflow: hidden;
  }

  .modal-window { // overlay
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    cursor: pointer;
    background: $modal-background;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    background: $modal-background;
    margin: auto;
    max-height: 95%;
    position: relative;
    overflow: auto;
    width: 95%;
    padding: $modal-padding /2;
    margin-top: .6em;

    @include media($medium-screen) {
      padding: $modal-padding;
      width: 60%;
      max-height: 60%;
      margin-top: 10em;
    }

    @include media($large-screen) {
      width: 50%;
      margin-top: 10em;
    }

    h3 {
      color: $base-font-color;
      margin-bottom: .6em;
      text-align: center;
    }

    p.body, p.intro {
      font-size: $base-font-size;
      max-width: 100% !important;
      text-align: left;

      &.intro {
        color: $blue;
        line-height: 1.6em;
      }

      &.body {
        color: $base-font-color;
        line-height: 1.45em;

        @include media($medium-screen) {
          @include columns(2 8em);
        }
      }
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: .5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0;
  }
}

//End Modal

#loggedIn{
  font-family: $oswald;
  font-size: 1.5em;
  vertical-align: top;
  padding-left: 5px;
}
