 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
$neongreen: hsla(158, 100%, 50%, 1);

$oswald:'Oswald', sans-serif;
// Custom Styles
body {
//  background-color: green;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.body-container{
//height: 1000px;  background-image:url("../images/28H.jpg");
  background-size: cover;

}
.hero-unit {
  width: 100%;
  border-radius: 6px;
  padding: 20px;
  h1 {
    font-size: 100px;
    line-height: 1;
    text-align: center;
    letter-spacing: -1px;
  }
  a{
    text-decoration: none;
    color: hsl(201,8,52);
  }
}
#loginField{
  position: absolute;
  margin-left: -600px;
}
#addPost, #updatePost{
  background-color: #eee;
  opacity: .9;
  border: 1px solid gray;
  width: 500px;
  height: 500px;
  margin-left: 150px;
  position: relative;
  display: block;
  #postTitle, #postContent,#postCategory, #postImage #updateTitle, #updateContent, #updateCategory, #addDraft{
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    width: 430px;
  }
  #addDraft{
    margin-top: 400px;
  }
  #savedraft{
    position: absolute;
    margin-left: 220px;
    margin-top: -47px;
  }
  #updateTitle{
   position: absolute;
   margin-left: 30px;
   margin-top: 20px;
  }
  #postContent, #updateContent{
    position: absolute;
    height: 250px;
    margin-top: 80px;
  }
  #postCategory, #updateCategory{
    margin-top: 350px;
  }
  #postImage{
    margin-left: 30px;
    width: 140px;
  }
  button{
    margin-left: 30px;
    margin-top: 400px;
  }
}

#signUp, #login{
  background-color: #eee;
  opacity: .8;
  display: block;
  padding: 5px;
  width: 200px;
  border: 1px solid gray;
  margin-left: 800px;
  #signUpUser, #user{
    margin-top: 10px;
  }
  #signUpPassword, #password{
    margin-top: 10px;
  }
  button{
    margin-top: 20px;
  }
}
#blogList{
 position: absolute;
 margin-top: 300px;
}
.addPosts li{
  height: 200px;
  list-style-type: none;
  margin-left: 100px;
  width: 800px;
  //border: 1px solid gray;
 background-color: black;
  opacity: .6;
  padding: 10px;
  &:hover{
   opacity: .65;
  }
  a{
    text-decoration: none;
    color: white;
  }
}

.nav-bar{
  position: absolute;
  padding-top: 20px;
  margin-left: 500px;
  a{
    color: hsl(201,8,52);
  }

}
.post-setup{
  position: relative;
  height: 120px;

  .title{
    position: absolute;
    margin-left: 200px;
    margin-top: 5px;

    font-size: 40px;
    font-family: $oswald;
  }
  .singleTitle{
    position: absolute;
    margin-left: 200px;
    margin-top: 5px;
    font-size: 40px;
    font-family: $oswald;
    width: 600px;
  }
  .author{
    position: absolute;
    margin-left: 200px;
    margin-top: 70px;

  }
  .cat{
    position: absolute;
    margin-left: 250px;
    margin-top: 150px;
  }
  .other{
    position: absolute;
    margin-left: 250px;

    width: 300px;
    margin-top: 150px;
  }
  .singleCategory{
    position: absolute;
    margin-left: 350px;
    width: 100px;
    margin-top: 150px;
  }
  .singleContent{
    position: absolute;
    margin-left: 250px;
    width: 600px;
    background-color: white;
    margin-top: 250px;
    //height: 400px;
  }
  #addComment{
    position: absolute;
  //  margin-left: 250px;
    width: 200px;
    margin-top: 200px;
  }
}
#blog-image{
  height: 180px;
  width: 180px;
//  margin-top: -10px;
  margin-left: 5px;
  position: absolute;
  background-color:  hsl(201,8,52);
  img{
  height: 180px;
  width: 180px;
  }
}


//Modal window
.modal {
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;

/*   label {
  cursor: pointer;
  margin-bottom: 0;
}

label img {
  \$img-width: 300px;
  border-radius: \$img-width/2;
  display: block;
  max-width: \$img-width;
}

input[type="checkbox"] {
  display: none;
}

.btn {
  @extend button;
}

.modal-open {
  overflow: hidden;
} */

  .modal-window { // overlay
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    cursor: pointer;
    background: $modal-background;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    background: $modal-background;
    margin: auto;
    max-height: 95%;
    position: relative;
    overflow: auto;
    width: 95%;
    padding: $modal-padding /2;
    margin-top: .6em;

    @include media($medium-screen) {
      padding: $modal-padding;
      width: 60%;
      max-height: 60%;
      margin-top: 10em;
    }

    @include media($large-screen) {
      width: 50%;
      margin-top: 10em;
    }

    h1 {
      color: $base-font-color;
      margin-bottom: .6em;
      text-align: left;
      text-transform: capitalize;
    }

    p.body, p.intro {
      font-size: $base-font-size;
      max-width: 100% !important;
      text-align: left;

      &.intro {
        color: $blue;
        line-height: 1.6em;
      }

      &.body {
        color: $base-font-color;
        line-height: 1.45em;

        @include media($medium-screen) {
          @include columns(2 8em);
        }
      }
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: .5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0;
  }
}

// end modal window

.topbanner{

  height: 1200px;
  //opacity: .3;
  background-image: url("../images/vang.jpg");
  background-size: cover;
  position: relative;
  background-attachment:fixed;
  h1 a{
  position:absolute;
  color: red;
  margin-left: 100px;
  font-size: 90px;
  font-family: $oswald;
  margin-top: 150px;
}
}
.header{
  border: 4px dashed yellow;
  background-color: green;
  position: absolute;
  opacity: .2;
  height: 1200px;
//  margin-top: 100px;
  width: 100%;

}

#commentBox{
  position: absolute;
  margin-top: 200px;
  width: 300px;
  margin-left: 200px;
}
#commentbutton{
  position: absolute;
  margin-top: 290px;
  margin-left: 200px;
}

.comment-section{
  margin-left: 200px;
  width: 600px;
  position: absolute;
  border: 2px solid yellow;
  margin-top: 400px;
  color: white;
.comments ul li{
  border: 2px dashed red;
}
}
